<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users List</title>
  </head>
  <body>
    <!--根据show判断是否显示-->
    <% if(show) { %>
    <ul>
      <!--开始循环-->
      <% users.forEach(user=>{%>
      <!--显示循环的内容-->
      <li><%=user.id%>-<%= user.name%></li>
      <%})%>
    </ul>
    <%}%>
  </body>
</html>
