<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%>></title>
  </head>
  <body>
    <header>I'm the header</header>
    <%- body%>
    <footer>I'm the header</footer>
  </body>
</html>
